/* بسم الله الرحمن الرحیم */

main {
  display: flex;
  background-color: red;
  padding: 15px;
  height: fit-content;
  max-height: 265px;
  width: ;
}

@media screen and (min-width: 320px) {
  main {
    margin: 0px;
  }
  .result-container {
    display: none;
  }
  .calculator {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  main {
    margin: 0;
  }
  .result-container {
    display: block;
    padding-top: auto;
    padding-left: 20px;
    margin: 0;
    width: 100%;
    max-width: 350px;
    background-color: white;
    color: blue;
  }
  .calculator {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  main {
    margin: 10% auto;
    width: 60%;
    max-width: 1200px;
  }
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}

.monitor {
  padding: 10px;
  background-color: grey;
  height: 50px;
}
.result-container {
  padding-top: auto;
  padding-left: 20px;
  margin: 0;
  background-color: white;
  color: blue;
}
.result-container button {
  width: 100%;
  border: none;
  outline: none;
}
.results {
  padding-left: 5px;
}
.result {
  display: flex;
  justify-content: space-between;
  background-color: rgb(159, 206, 254);
  border-bottom: 1px solid white;
}
.result button {
  background-color: transparent;
  margin: 3px;
  /* border: 1px solid grey; */
  border-radius: 3px;
  color: gray;
  width: 20px;
  height: 20px;
  font-size: 9px;
}

.typed {
  background-color: grey;
}
.keybord {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 196, 253);
  width: 100%;
}
.numbers {
  padding: 10px;
  height: auto;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 5px;
}
.number {
  background-color: white;
  color: blue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
}
.number:hover {
  background-color: blue;
  color: white;
}
.operators {
  background-color: rgb(104, 196, 253);
  grid-template-columns: auto;
  grid-template-rows: 40px 40px 40px 40px;
  grid-auto-flow: column;
}
.operator {
}
